:root {
  --rojo: #B30E0B;
  --rojo2: #A60D0D;
  --rojo-intenso: #F20505;
  --base-font-family: 'Open Sans', sans-serif
}

/* Color Theme Swatches in RGBA */
.iChef-claros-1 { color: rgba(242, 5, 5, 1); }
.iChef-claros-2 { color: rgba(166, 13, 13, 1); }
.iChef-claros-3 { color: rgba(217, 102, 102, 1); }
.iChef-claros-4 { color: rgba(242, 242, 242, 1); }
.iChef-claros-5 { color: rgba(13, 13, 13, 1); }

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.bd-navbar {
  min-height: 4rem;
  background-color: #B30E0B;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

#menuText {
  flex-direction: column;
}

#logo {
  overflow: hidden;
  vertical-align: middle;
}

.iconMenu {
  flex-direction: row;
}

.copyFooter {
  font-size: small;
}

.copyFooter {
  color: rgba(13, 13, 13, 1);
  padding-top: 5px;
  padding-bottom: 0px;
}

.formHeader{
  border-bottom: 1px solid #B30E0B;
  background-color: #B30E0B;
  color: white;
}

.containerForm,.form-group,.btnForm {
  padding-left: 5px;
  padding-right: 5px;
}

.btnForm {
  justify-content: flex-end;
  margin-top: 15px;
}

.itemBtn {
  padding-left: 5px;
  padding-right: 5px;
}

.formHeader,.copyFooter {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #B30E0B;
}

.fa-dollar-sign:before {
    content: "\f155";
}

#precioProd, #ofertaProd {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

#ofertaProd {
  margin-bottom: 0;
}

span.input-group-text,.btn-primary {
  background-color: #B30E0B;
  color: white;
  border-color:#B30E0B;
}

.custom-file-input:lang(en)~.custom-file-label::after {
  content: "Elegir";
  height: calc(1.5em + .75rem + 2px);
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 2.25rem;
  padding: .375rem .75rem;
  line-height: 1.5;
  color: white;
  content: "Elegir";
  background-color: #B30E0B;
  border-left: inherit;
  border-radius: 0 .25rem .25rem 0;
}

.card {
  margin-bottom: 5px;
}

/*Estilos footer de la pagina*/
p.small {
  margin-bottom: 0;
}

footer p {
  margin-bottom: 0px;
}

/*CARGA DE IMAGENES*/
.btn-primary:hover {
  color: #fff;
  background-color: #F20505;
  border-color: #F20505;
}

.btn-primary:not(:disabled):not(.disabled):active{
  background-color:#F20505;
  border-color: #F20505;
}

.card-body {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*CSS IMAGENES*/

.contenedorImg{
  padding-left: 0;
  padding-right: 0;
}

.imagePreview,.imageMin {
  background-position: center center;
  background-color:lightgrey;
  background-size: cover;
  background-repeat:no-repeat;
  display: inline-block;
  box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}

.imagePreview {
  width: 100%;
  height: 180px;
}

.imageMin {
  width: 100%;
  height: 70px;
}

.btn-primary
{
display:block;
border-radius:0px;
box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
margin-top:-5px;
}
.imgUp
{
margin-bottom:15px;
}
.del
{
position:absolute;
top:0px;
right:15px;
width:30px;
height:30px;
text-align:center;
line-height:30px;
background-color:rgba(255,255,255,0.6);
cursor:pointer;
}
.imgAdd
{
width:30px;
height:30px;
border-radius:50%;
background-color:#B30E0B;
color:#fff;
box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
text-align:center;
line-height:30px;
margin-top:0px;
cursor:pointer;
font-size:15px;
margin-left: 15px;
}

.img {
  width: 0px;
  height: 0px;
  overflow: hidden;
}


/*FIN CSS IMAGENES*/
/*Medias query*/
@media (min-width: 576px) {
  .imagePreview {
    height: 248px;
  }

}

@media (min-width: 768px) {
  .imagePreview {
    height: 190px;
  }
  #menuText {
    flex-direction: row;
}

}

@media (min-width: 992px) {
  .imagePreview {
    height: 190px;
  }
}

@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
  }
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}