<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <!--cuerpo-->
    <div class="container">
        <div>
            <div class="alert alert-warning mt-2" role="alert">
                Esta página es sólo para invitados, <a class="alert-link" href="/">volver</a>.
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
    <%-include('./partials/script') %>
</body>
</html>