<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head')%>

<body>
    <%-include('./partials/header')%>
    <!--cuerpo-->
    <main>
        <!------first-screen------>
        <div class="flexbox-container">
            <div class="flexbox-item flexbox-container-column">
                <h1 class="center bold-uppercase white-blackshadow"> La mejor manera de cocinar en casa</h1>
                <p class="bold-uppercase bgc-pink center">Delivery de productos con recetas</p>
                <a class="btn btn-light" href="#"><span class="btn-font">conocer mas</span></a>
                <br>
                <a class="btn btn-light" href="#"><span class="btn-font">elegir un menu</span></a>
            </div>
        </div>
        <!-----Como funcciona------>
        <div id="funccioning">
            <h3 class="mgb center uppercase">¿Cómo funciona?</h3>
            <div class="flexbox-container-feature">
                <div class="mg-item">
                    <img class="img-center mgbt-img" src="/images/man.png" alt="">
                    <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, nobis!</p>
                </div>
                <div class="mg-item">
                    <img class="img-center mgbt-img" src="/images/print-products.png" alt="">
                    <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, nobis!</p>
                </div>
                <div class="mg-item">
                    <img class="img-center mgbt-img" src="/images/commerce-and-shopping.png" alt="">
                    <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, nobis!</p>
                </div>
                <div class="mg-item">
                    <img class="img-center mgbt-img" src="/images/boil.png" alt="">
                    <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, nobis!</p>
                </div>
            </div>
        </div>

         <!--
            <div class="wrap-promo">
            <div class="flexbox-container-promo" >
                <div>
                    <h3 class="uppercase center">Proba combo de 3 cenas</h3>
                    <p class="uppercase center">*para 2 dos personas</p>
                    <a class="btn btn-light mgl2r" href="#"><span class="btn-font">pedir solo por $1200</span></a>
                </div>
                <div>
                    <img class="wd80" src="/images/lasana-de-carne-casera.jpg" alt="">
                </div>
            </div>
        </div>
         -->

        <!-----Nuestro market---->
        <div class="wrap-market">
        <div class="flexbox-container-market" >
            <div >
                <h3 class="uppercase mg2r">Te invitamos a nuestro market de productos gourmet</h3>
                <p class="mg2r">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit autem tempora voluptate laboriosam est nemo!</p>
                <a class="btn btn-light mgl2r" href="#"><span class="btn-font">ver los productos</span></a>
            </div>
            <div>
                <img class="wd100 mg2r" src="/images/gourmet1.jpg" alt="">
            </div>
        </div>
        </div>

</main>
    <%-include('./partials/footer')%>
    <%-include('./partials/script')%>
</body>
</html>