<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title><%= title %></title>
</head>
<body>
    <header>
        <div>
            <img id="logo" src="/images/iChef-Web.png" alt="Logo">
        </div>
        <div id="menuSite">
            <nav>
                <ul class="menu">
                  <li><a href="/">Home</a></li>
                  <li><a href="#!">About</a></li>
                  <li><a href="#!">Contact</a></li>
                  <li><a href="#!">Faq</a></li>
                </ul>
            </nav>
        </div>
        <div>

        </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>