<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head')%>

<body>
    <%-include('./partials/header')%>
    <!--cuerpo-->
    <div class="jumbotron jumbotron-fluid text-center">
        <img class="img-fluid" src="https://dummyimage.com/900x500" alt="placeholder">
        <h1 class="display-4">Bootstrap</h1>
        <hr class="my-4">
        <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <p class="lead"> <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 align-self-center">
                <h3>Responsive YouTube Video</h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/fqpsgH70fYk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4 align-self-center">
                <h3>Heading 3</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat natus explicabo soluta sit alias eligendi, quod, unde modi dolor nostrum. Nobis cumque, eos dignissimos neque autem inventore necessitatibus ut eveniet!</p>
            </div>
        </div>
        <hr>
        <div class="row">

        </div>
    </div>
    <%-include('./partials/footer')%>
    <%-include('./partials/script')%>
</body>
</html>