<!DOCTYPE html>
<html lang="es">

<%-include('./partials/head')%>

<body>
    <%-include('./partials/header')%>
    <!--cuerpo-->
    <main>
        <!------first-screen------>
        <div class="flexbox-container">
            <div class="flexbox-item flexbox-container-column">
                <h1 class="center bold-uppercase white-blackshadow"> La mejor manera de cocinar en casa</h1>
                <p class="bold-uppercase bgc-pink center">Delivery de productos con recetas</p>
                <a class="btn btn-light" href="#funccioning"><span class="btn-font">conocer mas</span></a>
                <br>
                <a class="btn btn-light" href="/product/list/2"><span class="btn-font">elegir un menu</span></a>
            </div>
        </div>
        <!-----Como funcciona------>
        <div id="funccioning">
            <h3 class="mgb center uppercase">¿Cómo funciona?</h3>
            <div class="flexbox-container-feature">
                <div class="mg-item">
                    <img class="img-center mgbt-img" src="/images/icon/man.png" alt="">
                    <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, nobis!</p>
                </div>
                <div class="mg-item">
                    <img class="img-center mgbt-img" src="/images/icon/print-products.png" alt="">
                    <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, nobis!</p>
                </div>
                <div class="mg-item">
                    <img class="img-center mgbt-img" src="/images/icon/commerce-and-shopping.png" alt="">
                    <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, nobis!</p>
                </div>
                <div class="mg-item">
                    <img class="img-center mgbt-img" src="/images/icon/boil.png" alt="">
                    <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, nobis!</p>
                </div>
            </div>
        </div>

         <!---Cajas-->
        <div class="wrap-promo bg flexbox-container-promo">
            <div id="demo" class="carousel slide col-12 col-md-6 col-lg-6" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="images/products/2/box1.jpg" alt="Bife de lomo con verduras asadas">
                    <div class="carousel-caption">
                        <h3 class="black-uppercase-whitebg">Bife de lomo con verduras asadas</h3>
                        <p class="black-uppercase-whitebg">2 porciones / 760 g / 199 Kkal</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img  src="images/products/2/box2.jpg" alt="Pollo teriyaki con fideos chinos">
                    <div class="carousel-caption">
                        <h3 class="black-uppercase-whitebg">Pollo teriyaki con fideos chinos</h3>
                        <p class="black-uppercase-whitebg"> 2 porciones / 920g / 139 Kkal</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="images/products/2/box3.jpg" alt="Paella de marisco">
                    <div class="carousel-caption">
                        <h3 class="black-uppercase-whitebg">Paella de marisco</h3>
                        <p class="black-uppercase-whitebg">2 porciones / 980g / 110 Kkal</p>
                    </div>
                  </div>
                </div>

                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>

              </div>
              <div class="tb-pad">
                <h3 class="mgb uppercase mgl2r ">Proba experencia iChef 3 cenas para 2 personas</h3>
                <p class="mgl2r ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe ipsa nisi ipsum vitae repudiandae dignissimos modi quibusdam? Qui, accusamus placeat.</p>
                <a class="btn btn-light mgl2r " href="/product/cart"><span class="btn-font">pedir por $1499</span></a>
              </div>

        </div>

        <!-----Nuestro market---->
        <div class="wrap-market">
        <div class="flexbox-container-market" >
            <div >
                <h3 class="uppercase mg2r">Te invitamos a nuestro market de productos gourmet</h3>
                <p class="mg2r">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit autem tempora voluptate laboriosam est nemo!</p>
                <a class="btn btn-light mgl2r" style="margin-bottom: 1rem;" href="/product/list/1"><span class="btn-font">ver los productos</span></a>
            </div>
            <div>
                <img class="wd80 mg2r" src="/images/fondos/gourmet1.jpg" alt="">
            </div>
        </div>
        </div>
        <!--a href="https://web.whatsapp.com/send?l=&amp;phone=543512875841&amp;text=Hola, quisiera más información" class="btn-whatsapp" target="_blank">
          <i class="fa fa-whatsapp"></i>
        </a-->
        <a href="https://web.whatsapp.com/send?l=&amp;phone=543512875841&amp;text=Hola, quisiera más información" class="go-top" target="_blank">
          Hacé tu pedido!! <i class="fa fa-whatsapp"></i>
        </a>
    </main>
    <%-include('./partials/footer')%>
    <%-include('./partials/script')%>
</body>
</html>