<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body class="hold-transition login-page">
    <%- include('./partials/header') %>
    <div class="fondoFormulario">
        <div class="register-box">
            <div class="register-box-body">
                <h3 class="register-box-msg"><b>Registración</b></h3>
                <form class="frmRegistro needs-validation" novalidate>
                    <div class="card">
                        <div class="card-header">Datos personales</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="nombre" placeholder="Nombre" required>
                                        <div class="invalid-feedback">Debe ingresar un nombre.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-user-circle-o"></i></span>
                                        </div>
                                        <input type="text" class="form-control" id="apellido" placeholder="Apellido" required>
                                        <div class="invalid-feedback">Debe ingresar un apellido.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-phone"></i></span>
                                        </div>
                                        <input type="number" class="form-control" id="telefono" placeholder="Nro. teléfono" required>
                                        <div class="invalid-feedback">Debe ingresar un número de teléfono.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Datos cuenta</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                                        </div>
                                        <input type="email" class="form-control" id="email" placeholder="Email" required>
                                        <div class="invalid-feedback">Debe ingresar una dirección de email.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa fa-key"></i></span>
                                        </div>
                                        <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
                                        <div class="invalid-feedback">Debe ingresar una contraseña.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa fa-key"></i></span>
                                        </div>
                                        <input type="password" class="form-control" id="repeatPassword" placeholder="Repita contraseña" required>
                                        <div class="invalid-feedback">Debe repetir la constraseña.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 mt-3">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Registrarme</button>
                        </div>
                    </div>
                </form>


                <!--form class="formRegister needs-validation" action="/" method="post" novalidate>
                    <div class="card">
                        <div class="card-header">Datos personales</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group input-group-Login col-12">
                                    <span class="input-group-addon"><i class="iconLogin fa fa-envelope"></i></span>
                                    <input type="text" class="form-control" placeholder="Nombre" required>
                                    <div class="invalid-feedback">Debe ingresar un nombre.</div>
                                </div>
                                <div class="form-group input-group-Login col-12">
                                    <span class="input-group-addon"><i class="iconLogin fa fa-key"></i></span>
                                    <input type="text" class="form-control" placeholder="Apellido" required>
                                    <div class="invalid-feedback">Debe ingresar un apellido.</div>
                                </div>
                                <div class="form-group input-group-Login col-12">
                                    <span class="input-group-addon"><i class="iconLogin fa fa-key"></i></span>
                                    <input type="number" class="form-control" placeholder="Nro. teléfono" required>
                                    <div class="invalid-feedback">Debe ingresar un número de telefono.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">Datos cuenta</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group input-group-Login col-12">
                                    <span class="input-group-addon"><i class="iconLogin fa fa-envelope"></i></span>
                                    <input type="email" class="form-control" placeholder="Email" required>
                                    <div class="invalid-feedback">Debe ingresar un email.</div>
                                </div>
                                <div class="form-group input-group-Login col-12">
                                    <span class="input-group-addon"><i class="iconLogin fa fa-key"></i></span>
                                    <input type="password" class="form-control" placeholder="Password" required>
                                    <div class="invalid-feedback">Debe ingresar una contraseña.</div>
                                </div>
                                <div class="form-group input-group-Login col-12">
                                    <span class="input-group-addon"><i class="iconLogin fa fa-key"></i></span>
                                    <input type="password" class="form-control" placeholder="Repetir password" required>
                                    <div class="invalid-feedback">Debe repetir la contraseña</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 mt-3">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Registrarme</button>
                        </div>
                    </div>
                </form-->
            </div>
        </div>
    </div>
    <%- include('./partials/footer') %>
    <%-include('./partials/script')%>
</body>
</html>