<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <!--cuerpo-->
    <div class="container-fluid mt-2">
        <div id="tituloZonas" class="textCenter">
            <h2>Zonas y días de entrega</h2>
        </div>
        <div id="msgCorona" class="message-box relative">
            <p class="textCenter">
                <strong>CORONAVIRUS: </strong>Seguimos entregando normalmente a domicilio y
                tomamos todos los recaudos necesarios para reforzar nuestros estándares de seguridad
                e higiene.
            </p>
        </div>
        <div class="row rowZonas">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="container section-title-container">
                    <h3 class="section-title section-title-normal"><b></b>
                        <span class="section-title-main">ENTREGAS a DOMICILIO</span><b></b>
                    </h3>
                </div>
                <p>
                    <strong>Capital Federal (CABA), Vicente López y San Isidro:</strong> lunes a viernes de 16hs a 19hs. Costo de envío $125 y San Isidro $135.
                </p>
                <p>
                    <strong>Capital Federal (CABA), Vicente López y San Isidro:</strong> lunes a viernes de 16hs a 19hs. Costo de envío $125 y San Isidro $135.
                </p>
                <p>
                    <strong>Capital Federal (CABA), Vicente López y San Isidro:</strong> lunes a viernes de 16hs a 19hs. Costo de envío $125 y San Isidro $135.
                </p>
                <div class="container section-title-container">
                    <h3 class="section-title section-title-normal"><b></b>
                        <span class="section-title-main">PUNTOS DE RETIRO</span><b></b>
                    </h3>
                </div>
                <p><strong>ALTA CORDOBA:</strong>
                    Local iChef, José Baigorri 653 Local 2. Lunes a viernes de 15hs a 17hs. Costo sin cargo.&nbsp;
                </p>
                <p><strong>CRISOL:</strong>
                    Local iChef, Diagonal Ica 185. Lunes a viernes de 15hs a 17hs. Costo sin cargo.&nbsp;
                </p>
                <p><strong>SAN MARTIN:</strong>
                    Local iChef, Av. Cornelio Saavedra 515. Lunes a viernes de 15hs a 17hs. Costo sin cargo.&nbsp;
                </p>
                <p><strong>COFICO:</strong>
                    Local iChef, José María Bedoya 725. Lunes a viernes de 15hs a 17hs. Costo sin cargo.&nbsp;
                </p>
                <div class="container section-title-container">
                    <h3 class="section-title section-title-normal"><b></b>
                        <span class="section-title-main">PREGUNTAS FRECUENTES</span><b></b>
                    </h3>
                </div>
                <div class="accordion" id="accordionPreguntas">
                    <div class="card">
                      <div class="card-header bg-dark" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn text-white text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Del 1 al 10… ¿Qué tan ricos son?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionPreguntas">
                        <div class="card-body">
                         11 puntos!!!!!.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header bg-dark" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn text-white text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            ¿Qué métodos de pago aceptan?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionPreguntas">
                        <div class="card-body">
                            Se compra online y puede pagar con transferencia bancaria o a través de MercadoPago,
                            donde se puede pagar con tarjetas de crédito, débito y también se puede abonar en RapiPago o
                            PagoFácil. Para más información visitar:
                            <a id="linkMercadoPago" href="https://www.mercadopago.com.ar/ayuda/medios-de-pago-cuotas-promociones_264" target="_blank" rel="noopener noreferrer">https://www.mercadopago.com.ar/ayuda/medios-de-pago-cuotas-promociones_264</a>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header bg-dark" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn text-white text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            ¿Cuáles son las zonas de entrega?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionPreguntas">
                        <div class="card-body">
                            <p>Entregamos en toda la zona de <strong>Alta Córboba</strong>, zona <strong>Centro</strong> y barrios cercanos.</p>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-dark" id="headingFour">
                          <h2 class="mb-0">
                            <button class="btn text-white text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                ¿Puedo cancelar mi pedido?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionPreguntas">
                          <div class="card-body">
                            <span>Permitimos cancelaciones de pedidos hasta 24 horas antes, ya que todos pedidos son preparados especialmente y compramos mercadería para poder hacerlos.</span>
                          </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-dark" id="headingFive">
                          <h2 class="mb-0">
                            <button class="btn text-white text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                ¿Cuándo lo recibo? ¿Cuándo puedo retirarlo?
                            </button>
                          </h2>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionPreguntas">
                          <div class="card-body">
                            <p>Podés elegir <strong>recibirlo en tu casa</strong> o <strong>retirarlo por la sucursal</strong>, de lunes a viernes. Los horarios de entrega son de 19hs a 22hs y los horarios de retiro son de 16:30hs a 20:30hs por José Baigorri 653.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-12 col-lg-6 col-xl-6 colMap">
                <div class="col-inner">
                    <iframe SameSite="None" Secure class="responsive-iframe" src="https://www.google.com/maps/d/embed?mid=11Efi18t3nmtyMxFoWtDpawTApuNqaybL"
                            width="640" height="480"></iframe>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>
    <%-include('./partials/script')%>
</body>
</html>