<footer class="container-fuid bg-light copyFooter">
    <div class="redesSociales text-center">
        <p>Seguinos en nuestras redes</p>
        <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com">
            <i class="fa fa-facebook"></i>
        </a>
        <a class="btn btn-social-icon btn-github" href="https://github.com">
            <i class="fa fa-github"></i>
        </a>
        <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com">
            <i class="fa fa-instagram"></i>
        </a>
        <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/explore">
            <i class="fa fa-twitter"></i>
        </a>
    </div>
    <div class="text-center col-lg-6 offset-lg-3 ">
        <p class="small">Copyright &copy; 2020 iChef | Todos los derechos reservados.</p>
    </div>
</footer>