<footer class="container-fuid bg-light">
    <div class="row rowFooter">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mediosPago text-center">
            <span>Formas de pago</span>
            <hr class="style-eight">
            <div>
                <img width="165" height="60" src="/images/mediospago/mercadopago.png"
                class="img-fluid" alt="Medios de pago"
                 data-was-processed="true">
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 redesSociales text-center">
            <span>Seguinos en nuestras redes</span>
            <hr class="style-eight">
            <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com">
                <i class="fa fa-facebook fa-2x"></i>
            </a>
            <a class="btn btn-social-icon btn-github" href="https://github.com">
                <i class="fa fa-github fa-2x"></i>
            </a>
            <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com">
                <i class="fa fa-instagram fa-2x"></i>
            </a>
            <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/explore">
                <i class="fa fa-twitter fa-2x"></i>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 donacion text-center">
            <span>Ayudanos con tu donación</span>
            <hr class="style-eight">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick" />
                <input type="hidden" name="hosted_button_id" value="NZ2F35XVZ5528" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_AR/i/scr/pixel.gif" width="1" height="1" />
            </form>
        </div>
    </div>
    <div id="copyFooter" class="text-center col-lg-12 col-xl-12">
        <p class="small">Copyright &copy; 2020 iChef | Todos los derechos reservados.</p>
    </div>
</footer>