<footer class="container-fuid bg-light">
    <div class="row rowFooter">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mediosPago text-center">
            <span>Formas de pago</span>
            <hr class="style-eight">
            <div>
                <img width="227" height="121" src="/images/mediospago/mercadopago.png"
                class="img-fluid" alt=""
                 data-was-processed="true">
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 redesSociales text-center">
            <span>Seguinos en nuestras redes</span>
            <hr class="style-eight">
            <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com">
                <i class="fa fa-facebook fa-2x"></i>
            </a>
            <a class="btn btn-social-icon btn-github" href="https://github.com">
                <i class="fa fa-github fa-2x"></i>
            </a>
            <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com">
                <i class="fa fa-instagram fa-2x"></i>
            </a>
            <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/explore">
                <i class="fa fa-twitter fa-2x"></i>
            </a>
        </div>
    </div>
    <div id="copyFooter" class="text-center col-lg-6 col-xl-12">
        <p class="small">Copyright &copy; 2020 iChef | Todos los derechos reservados.</p>
    </div>
</footer>