<footer class="container-fuid bg-light">
    <div class="row">
        <div class="col mediosPago text-center">
            <span>Formas de pago</span>
            <div class="is-divider small"></div>
            <div>
                <img width="227" height="121" src="images/mediospago/mercadopago.png"
                class="attachment-original size-original lazyloaded" alt=""
                 data-was-processed="true">
            </div>
        </div>
        <div class="col redesSociales text-center">
            <span>Seguinos en nuestras redes</span>
            <div class="is-divider small"></div>
            <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-social-icon btn-github" href="https://github.com">
                <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com">
                <i class="fa fa-instagram"></i>
            </a>
            <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/explore">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
    </div>
    <div id="copyFooter" class="text-center col-lg-6 offset-lg-3">
        <p class="small">Copyright &copy; 2020 iChef | Todos los derechos reservados.</p>
    </div>
</footer>