<header>
    <nav class="navbar navbar-expand-xl">
        <!--a class="navbar-brand" href="#">Navbar</a-->
        <div id="logoHeader">
          <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="iChef">
            <img id="logo" src="/images/logo/iChef-Web.png" width="90px" height="90px">
        </a>
        </div>
        <div id="formHeader">
          <form id="formBuscar" class="my-2 my-lg-0" action="/product/search" method="POST">
            <input id="inputBuscar" class="form-control mr-sm-2" type="search" name="buscarHeader" placeholder="Buscar productos" aria-label="Buscar">
            <button class="btn btn-dark my-2 my-sm-0" type="submit"><span class="ichef-search1"></span></button>
          </form>
        </div>
        <button id="btnMenu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon ichef-menu"></span>
        </button>
        <div class="collapse navbar-collapse navMenu" id="navbarMenu">
          <ul class="navbar-nav menuList">
            <li class="nav-item active">
              <a class="nav-link" href="/"><span class="ichef-home iconiChef"></span> Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProd" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="ichef-restaurant iconiChef"></span> Productos
              </a>
              <div class="dropdown-menu dropdown-menu-right subItem" aria-labelledby="navbarDropdownProd">
                <a class="dropdown-item" href="/product/list/1"><span class="ichef-barcode"></span> Market</a>
                <a class="dropdown-item" href="/product/list/2"><span class="ichef-inventory"></span> Cajas</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#"><span class="ichef-gift"></span> Promos del dia</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/info/zonas"><span class="ichef-contacts iconiChef"></span> Zonas entrega</a>
            </li>
            <% if( typeof usuario != 'undefined') { %>
              <% if(  usuario.categorie_id == 1 ) { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
                    <span class="ichef-settings iconiChef"></span> Panel control
                </a>
                <div class="dropdown-menu dropdown-menu-right subItem" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/product"><span class="ichef-shopping_basket"></span> Productos</a>
                    <a class="dropdown-item" href="/users"><span class="ichef-users"></span> Usuarios</a>
                    <a class="dropdown-item" href="/config"><span class="ichef-build"></span> Configuración</a>
                </div>
              </li>
              <% } %>
            <% } %>
          </ul>
          <ul class="navbar-nav menuUser">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownU" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="ichef-account_circle iconiChef"></span>
                <% if( typeof usuario != 'undefined') { %>
                    <span>Hola! <%= usuario.nombre %></span>
                <% } else { %>
                    <span>Iniciar sesión</span>
                <% } %>
              </a>
              <div class="dropdown-menu dropdown-menu-right subItem" aria-labelledby="navbarDropdownU">
                <% if( typeof usuario != 'undefined') { %>
                    <a class="dropdown-item d-none" href="/users/login"><span class="ichef-sign-in"></span> Ingresar</a>
                    <a class="dropdown-item d-none" href="/users/register"><span class="ichef-how_to_reg"></span> Registrarse</a>
                    <% if(  usuario.categorie_id != 1 ) { %>
                        <a class="dropdown-item" href="/users/<%= usuario.id %>/userAccount"><span class="ichef-recent_actors"></span> Mi cuenta</a>
                        <div class="dropdown-divider"></div>
                    <% } %>
                    <a class="dropdown-item" href="/users/logout"><span class="ichef-power_settings_new"></span> Cerrar sesión</a>
                <% } else { %>
                    <a class="dropdown-item" href="/users/login"><span class="ichef-sign-in"></span> Ingresar</a>
                    <a class="dropdown-item" href="/users/register"><span class="ichef-how_to_reg"></span> Registrarse</a>
                <% } %>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownC" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="ichef-shopping-cart iconiChef"></span>
                <span class="badge badge-light">0</span>items
              </a>
              <div class="dropdown-menu dropdown-menu-right subItem" aria-labelledby="navbarDropdownC">
                <a class="dropdown-item" href="/product/cart"><span class="ichef-pageview"></span> Ver</a>
                <a class="dropdown-item" href="#"><span class="ichef-trash"></span> Vaciar</a>
              </div>
            </li>
          </ul>
        </div>
    </nav>
</header>