<tr>
    <th scope="row"><%= producto.codigo %></th>
    <td><%= producto.nombre %></td>
    <td class="colPrecio"><%= producto.precio %></td>
    <td>
        <div class="row justify-content-around d-flex">
            <div class="row-item">
                <a class="editLink" data-toggle="tooltip" href="/product/edit">
                    <i class="fa fa-pencil fa-1x"></i>
                </a>
            </div>
            <div class="row-item">
                <a class="deleteLink" data-toggle="tooltip" href="/product/delete">
                    <i class="fa fa-trash fa-1x"></i>
                </a>
            </div>
        </div>
    </td>
</tr>
